<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./cart.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="container header-main-box">
        <div class="header-logo">Github Users</div>
        <div class="burger-menu">
          <img
            src="https://img.icons8.com/ios-glyphs/30/000000/menu-rounded.png"
          />
          <div class="burger-list">
            <div>Search</div>
            <a href="../../index.html">Home</a>
          </div>
        </div>
        <div class="haeder-nav">
          <button class="haeder-nav-btn">
            <a href="" class="header-nav-btn-link">Search</a>
          </button>
          <button class="haeder-nav-btn">
            <a href="../../index.html" class="header-nav-btn-link">Home</a>
          </button>
        </div>
      </div>
    </header>

    <section class="section-2">
      <div class="container hero">
        <h2>Favorities</h2>
        <div id="list-cart"></div>
      </div>
    </section>

    <section class="section-3">
      <div class="container hero">
        <div class="hero-firstBlock">
          <button class="haeder-nav-btn-back haeder-nav-btn-1">back</button>
          <div class="hero-cards-2"></div>
        </div>
        <div class="hero-secondBlock">
          <h2>repositories</h2>
          <div class="hero-cards-repos"></div>
        </div>
      </div>
    </section>

    <div class="spinner">
      <div class="loader"></div>
    </div>

    <script src="./getCart.js"></script>
  </body>
</html>
